*.pdf
*.xls*
*.swp
test
test1
*.csv
*.csv.gz
*.pyc
.Rhistory
.RData
*.rdata
stuff.py
stuff1.py
*.spec
*.toc
*.txt
*.pkg
*.pyz
*.log
*.jpg
*.png
*.sql
*.sql.gz
.~lock*
test.py
test1.py
*.tde
stuff
sandbox_dump*
g2_update
*.ppt*
dwilson*
logs
logsBAK
